
body {
	background: #b6b6b2;
	width: 376px;
	margin: 0;
	padding: 0;
}
h1 {
	font-family: PT Serif;
	text-align: center;
}
h2 {
	font-family: PT Serif;
	text-align: left;
	color: black;
	margin: 0;
	padding: 0;
	margin-left: 20px;
}
p {
	font-family: PT Serif;
	text-align: justify;
	margin-top: 3px;
	padding: 0 20px;
}
 #lgbt {
    margin-top: 100px;
}

#frame {
	width: 376px;
	margin: 0 auto;
	background: white;
	display: table;
	position: relative;
}
  header {
	position: fixed;
	left: 0px;
	top: 0px;

}

main {
	height: 100%;
	width: 100%;
	margin:0px;
	padding: 0px;
}

footer {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding: 0px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	text-align: center;
}
#main {
	margin: 0;
	padding: 0;
}
#main li {
	list-style: none;
	display: inline-block;
	position: relative;
	padding-left: 10px;
}
#main li menu {
	position: absolute;
	background-color: gray;
	margin: 0;
	padding-right: 15px;
}
li menu {
	display: none;
}
#main li:hover menu {
	display: block;

}
