.footer {
    display: flex;
    justify-content: space-between;
    min-height: 180px;
    background-color: #769ce7;
    padding: 40px 40px 10px 40px;
    &__block_logo {
        width: 530px;
        height: 230px;
        img {
            width: 100%;
    }
    } 
    
    &__block_center {
        
    }
    &__block_right {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        img {
            display: block;
            width: 30px;
            height: 30px;
            margin-right: 10px;

        }

    }
    &__link {
        display: block;
        color: #f7f1f1;
        font-size: 20px;
        font-weight: 500;
    }
    &__adress, &__phone, &__email {
        display: flex;
        justify-content: flex-start;
        color: #f7f1f1;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
    } 

}
