.carousel {
  padding: 20px 0;
  margin-top: 160px;
}

.carousel__inner {
  position: relative;
  width: 750px;
  height: 530px;
  margin: 0 auto;
  z-index: 1;
}

.carousel__inner img {
  width: 100%;
}

.carousel__inner .slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -66px;
  border: none;
  background-color: #fff;
}

.carousel__inner .slick-prev img {
  width: 31px;
  height: 50px;
}

.carousel__inner .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -47px;
  border: none;
  background-color: #fff;
}

.carousel__inner .slick-next img {
  width: 31px;
  height: 50px;
}

.carousel__for {
  position: relative;
  width: 1200px;
  margin: 5px auto;
  z-index: 1;
}

.carousel__for img {
  display: block;
  width: 100%;
  border: 3px solid #fff;
}
